# Conditional

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b
- These conditions can be used in several ways, most commonly in "if statements" and loops.

# Introduction to the if Statement

In [3]:
x = 0
y = 5

if x < y:
    print('yes')
    
if x:
    print('yes')
    
if y:
    print('yes')
    
if 'aul' in 'grault':
    print('yes')

if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

# Grouping Statements: Indentation and Blocks

In [5]:
if 'foo' in ['bar', 'baz', 'quz']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [7]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
    
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')
    
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

# The else and elif Clauses

In [11]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [13]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [15]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("Beli buku")
else:
    print("Uang tidak cukup")

Uang tidak cukup

In [17]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [19]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

# One-Line if Statements

In [21]:
if 'f' in 'foo': print(1); print('2'); print('3')

1
2
3

In [23]:
if 'z' in 'foo': print(1); print('2'); print('3')

In [25]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [27]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [29]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

# Conditional Expressions (Python's Ternary Operator)

In [31]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [34]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [36]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [38]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

# The Python pass Statement

In [41]:
if True:
    pass

print('foo')

foo

# Python "while" Loops

In [43]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [47]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

# The Python break and continue Statements

In [49]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [51]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

# The else Clause

In [53]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [55]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

# Infinite Loops

while True:
    print('foo')

# Nested while Loops

In [61]:
age = 12
gender = 'M'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

son

In [64]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

# One-Line while Loops

In [66]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

# A Survey of Definite Iteration in Programming

**Numeric Range Loop**
```
for i = 1 to 10
    <loop body>
```

**Three-Expression Loop**
```
for (i = 1; i <= 10; i++)
    <loop body>
```

**Collection-Based or Iterator-Based Loop**
```
for i in <collection>
    <loop body>
```

# The Python for Loop

In [68]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [72]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(d[k])

1
2
3

In [74]:
for k in d.values():
    print(k)

1
2
3

In [76]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [78]:
for k in d:
    print(d[k])

1
2
3

In [80]:
for v in d.values():
    print(v)

1
2
3

# The range() Function

In [82]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [85]:
x = range(5)

for n in x:
    print(n)

0
1
2
3
4

# Altering for Loop Behaviour

## The break and continue Statements

In [87]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [89]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

## The else Clause

In [91]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [93]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [ ]:
# Contoh Penggunaan:

temp = input("Ketikkan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == 'C':
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == 'F':
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukkan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

In [ ]:
while True:
    msg = input("Ketikkan karakter: ").lower()
    print(msg)
    if msg == 'stop':
        break