# Integers

In [1]:
print(124125125125125126 + 1)

124125125125125127

In [3]:
print(10)
print(type(10))

10
<class 'int'>

In [4]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Strings

In [6]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [7]:
print('')

In [12]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

# Boolean Type, Boolean Context, and "Truthiness"

In [15]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assigment

In [23]:
n = 300
print(n)

300

In [26]:
n = 1000
print(n)

1000

In [28]:
a = b = c = 300
print(a, b, c)

300 300 300

# Variable Types in Python

In [31]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

# Variable Names

In [34]:
name = "Hacktiv8"
age = 54
has_laptops = True
print(name, age, has_laptops)

Hacktiv8 54 True

# Operators and Expressions in Python

In [36]:
a = 10
b = 20
a + b

30

In [38]:
a = 10
b = 20
a + b - 5

25

# Arithmetic Operators

In [40]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

# Comparison Operators

In [44]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)

False
True
True

In [43]:
a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

True
True
True

# String Manipulation

In [45]:
# + Operators

s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [47]:
# * Operators

s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [49]:
# in Operators

s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [54]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python Lists

In [56]:
a = ['foo', 'bar', 'baz', 'quz']
print(a)

['foo', 'bar', 'baz', 'quz']

# Lists Are Ordered

In [58]:
a = ['foo', 'bar', 'baz', 'quz']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

# Lists Can Contain Arbitrary Objects

In [60]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.13159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.13159]

# List Elements Can Be Accessed by Index

In [62]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [66]:
a[2:5]

['baz', 'qux', 'quux']

In [70]:
print(a)

print(a + ['grault', 'garplyp'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garplyp']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [73]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

# Modifying a Single List Value

In [76]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [78]:
# A list item can be deleted with the del command:

del a[3]
print(a)

['foo', 'bar', 10, 20]

# Modifying Multiple List Values

In [82]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

In [85]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [88]:
print(t[0])
print(t[-1])

foo
corge

In [90]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
                    
s1

'foo'

# Python Dictionary

In [93]:
# Defining a Dictionary

MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [98]:
# Accessing Dictionary Values

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [100]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [102]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [104]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

KeyError: 'Seattle'

# Building a Dictionary Incrementally

In [107]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [110]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [114]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [119]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation

In [121]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <=65) or (person2_age >=18 and person2_age <=65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True

In [125]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <=65) 
    or (person2_age >=18 and person2_age <=65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True